apdev-examples/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="syncDBaccountsWithPostal" doc:id="8db5ad60-53c8-4588-b7be-6416e5dc134d" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="8a758717-4306-40b1-9642-456adb43f40c" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="f96aaf79-1bc6-4684-9c33-03197353d62e" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="6c1b54e3-ef7d-44af-90bf-45cba6a15d20" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts 
WHERE postal = :postal AND accountID > :lastAccountID ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal: "3500", lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="aaf1f1ae-cf5f-42b5-8185-6f56abe79e0a" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="75ceae26-cb2f-41fd-be23-7cd870480717" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccounts.csv" doc:id="91660587-8217-49ff-a348-abbbf54f1d9d" config-ref="File_Config" path="output/DBaccountsPostal.csv">
			<file:content><![CDATA[#[output application/csv header=false --- payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS AccountsQ" doc:id="10e93fff-ebf9-4e7e-a0b9-6a56264c59d4" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json --- payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher": "training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV payload " doc:id="4b4e80cc-0111-4915-83fe-e39ef883b0ed" message="#[output application/csv --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new records" doc:id="77348790-0cc1-48af-97f9-b79ccb3a69f3" message="No new records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="receiveJMSmessages" doc:id="c4271d1e-f822-4fdb-85fd-12ab3e527f5c" >
		<jms:listener doc:name="JMS accountsQ" doc:id="7dee1ce5-ba6e-4c36-a4e0-84e4242a56cf" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="JSON to Accounts" doc:id="e8b8c103-98c6-4e92-984d-1d95516b8e62" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="7c513bf3-09c0-4c98-9600-f699e5dfb332" >
			<batch:process-records >
				<batch:step name="isAccountinSalesforce" doc:id="3f2838f8-0d41-4c9c-bfed-fe936506121a" >
					<salesforce:query doc:name="Account" doc:id="b3560ce2-b0b1-41c1-b9ce-0ce170ea5df9" config-ref="Salesforce_Config" target="exists" targetValue="#[(sizeOf(payload as Array) &gt; 0)]">
						<salesforce:salesforce-query ><![CDATA[SELECT Name FROM Account
WHERE Name = ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="2b4c36af-6a8c-4c87-8f21-2b6e8b46d542" />
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="1c4af053-1554-4bee-91bb-84f410c2b7e6" acceptExpression="#[not vars.exists]">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="8b0f321f-cd7b-44c5-9366-5c1d166fa4c9" size="3">
						<salesforce:create type="Account" doc:name="Accounts" doc:id="fb731286-f8e9-4ba6-aa91-fab16aebae69" config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger" doc:id="ce140f99-0bb6-4a35-a9fa-3d6b9d8a5681" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="671de3db-078e-4dbb-b519-0c0fd52fbbe5" />
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="payload" doc:id="5d32e82a-0531-40c1-b810-a9becc984cf2" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="878ce58a-66ec-465b-a07f-d4f82410af89" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="89342a19-abed-41d8-ab3c-204297e7c081" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Java to CSV" doc:id="f5ff74be-0b89-42af-94b8-43e67bcd993e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="c931776e-fa39-498d-9f0c-2f2c66f21c8a" config-ref="File_Config" path="output/DBaccounts.scv" mode="APPEND"/>
		<logger level="INFO" doc:name="payload" doc:id="5e7c002c-f4ba-4d1f-a74d-5523e6e7030b" message='"test #[payload.accountID] #[payload.name] #[attributes]"'/>
	</flow>
	<flow name="getSFDCaccounts" doc:id="517f2f50-dd6c-45c9-9a12-9df8b67ad571" >
		<http:listener doc:name="GET /sfdc" doc:id="1a7b91ad-77f2-4fa8-8add-8d508958930c" config-ref="HTTP_Listener_config" path="/sfdc" allowedMethods="GET">
			<ee:repeatable-file-store-stream inMemorySize="1024" />
		</http:listener>
		<salesforce:query doc:name="Account " doc:id="8eee6b95-ad1a-4f65-a54b-089ee037ce9c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="getSFDCaccounts" doc:id="cbfde258-2ee7-40b7-ba0b-edd6ee950b92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batchProcessCSVaccounts" doc:id="5760bdc5-c697-4872-8513-2f117c92245c" >
		<file:listener doc:name="accounts.csv" doc:id="25823b39-2762-48cd-a630-3054b5f5f0fb" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="cc9c2d00-c750-41d6-9c2c-e55c748cfaf2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="3161395a-fa00-409c-8b87-402163d8e5c1" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="bf5e810a-3bab-4b18-9317-0d4b143b6df7" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a127b65e-08cb-4ec3-8ab5-4973ce3bf974" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="afab9ff8-ed84-4760-a8a9-4496385dd065" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="762e02db-83a6-43c7-af8b-bf8451d82f20" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="8c4b6d87-f3e8-4a32-aa29-706ffb54e1ff" >
					<logger level="INFO" doc:name="Logger" doc:id="03fe190f-9a2e-400a-b8fc-8c9baef81ac8" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="95dc2c96-9b8f-41ce-8653-71680d61c843" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="getCSVaccounts" doc:id="551e0f15-9af4-41c8-81eb-b6f8f3bf0efe" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="2130ac1d-57f9-408f-bbaa-f8345599b2c8" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="9af9191c-52f9-4486-995d-73c33c3ba4a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="493c11fe-f4b0-4a62-b5e9-dcb505602cae" >
			<set-payload value="processed" doc:name="processed" doc:id="a794bfab-f85d-4be9-96ac-7fed7ce0bc54" />
			<logger level="INFO" doc:name="payload" doc:id="86a52e27-d7fe-45aa-bfe7-d4dd8e148a0d" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload" doc:id="05a52bb7-af20-414f-9d1c-71973a2cc172" message="#[payload]"/>
	</flow>
</mule>
